html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    color: lightGrey;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-image: url("https://2centsworthofsports.files.wordpress.com/2013/01/jordan.jpg");
}

.rightPane {
    height: 100%;
    background-image: url("https://2centsworthofsports.files.wordpress.com/2013/01/jordan.jpg");
}

.social-image{
    width: 30px;
    margin: 15px;
}
